/* Stylesheet */
#saved-recipes{
    margin:auto;
}

body{
    background:rgb(112, 112, 112);
    background-image: url(ingredients1.jpg);
    background-blend-mode: screen;
    
    
}


#nav-wrapper{
    height:auto;
    
}
#header {
    font-family: 'Roboto Condensed';
    font-size:2.5rem;
    
}



.btn {
    margin-top:2%;
}


@media (min-width: 768px) {
    #recipe-search{
        margin-left:10%
    }
    #main-content{
        margin-top:2.5%;
        margin-left:10%;
    
    }
    
}