/* Stylesheet */
#saved-recipes{
    margin:auto;
}




body{
    background:rgb(192, 192, 192);
}

#nav-wrapper{
    height:auto;
}
#header {
    font-family: 'Roboto Condensed';
    font-size:3rem;
    
}



@media (min-width: 768px) {
    #recipe-search{
        margin-left:10%
    }
    #main-content{
        margin-top:2.5%;
        margin-left:10%;
    
    }
    
}